<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="productDetails">
    <img [src]="productDetails.image" alt="Product Image" />
    <ion-card-header>
      <ion-card-title>{{ productDetails.name }}</ion-card-title>
      <ion-card-subtitle>Fiyat: ₺{{ productDetails.price }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ productDetails.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
